<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\CloudTest\Irain-M\Irain-M\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <httpRuntime executionTimeout="240" maxRequestLength="20480" />
        <compilation debug="true" targetFramework="4.0" />
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F49752BED9568667ADF9C967C1F408A5A" validation="SHA1" validationKey="49752BED9568667ADF9C967C1F408A5A5890B0839DE62168764FF0DCE537184F0535D5D9AD66DEDC49752BED9568667ADF9C967C1F408A5A5890B08397DC1ABF" />
       
    </system.web>

</configuration>
